.timer-panel-control {
	margin: 1rem auto;
	text-align: center;
}

.timer-panel-control span {
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0 0.5rem;
	color: #CFB7EA;
}

.timer-panel-control-buttons {
	margin: 0 auto;
	width: 75%;
	display: flex;
	justify-content: space-around;
}

.control-panel-btn {
	width: 2.5rem;
	height: 2.5rem;
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: #ccc;
	cursor: pointer;
}

.control-panel-btn:focus {
	outline: none;
	border: 3px solid #5410a3;
}

.control-panel-btn:hover {
	background-color: #fff;
}

.control-panel-btn:active {
	filter:  invert(100%);
}

.control-panel-btn span {
	font-size: 1.75em;
	font-weight: bold;
}